<?xml version="1.0" encoding="utf-8"?>
<cryptoapplet>
  <keystores>
    <keystore id="keystore-uji">
      <type>JKS</type>
      <location>uji.keystore</location>
      <password>cryptoapplet</password>
    </keystore>

    <devices>
      <pkcs11 id="pkcs11-dnie">
        <config>
          <name>DNIE</name>
          <slot>1</slot>
        </config>
        <libraries>
          <linux>
            <library>/usr/lib/opensc-pkcs11.so</library>
            <library>/usr/local/lib/opensc-pkcs11.so</library>
            <library>/lib/opensc-pkcs11.so</library>
          </linux>
          <windows>
            <library>C:\\WINDOWS\\system32\\UsrPkcs11.dll</library>
          </windows>
        </libraries>
      </pkcs11>
    </devices>
  </keystores>

  <timestamping>
    <tsa id="tsa-gva">
      <url>http://tss.accv.es:8318/tsa</url>
      <certificate alias="tsa1_accv" />
      <ca ref="CAGVA" />
      <askCert>false</askCert>
      <useNonce>true</useNonce>
      <sn>12</sn>
      <timeErrSecs>60</timeErrSecs>
    </tsa>
  </timestamping>

  <revocation>
    <ocsp id="ocsp-gva">
      <url>http://ocsp.accv.es</url>
      <certificate alias="ocsp-gva" />
      <ca ref="CAGVA" />
      <signRequest>false</signRequest>
      <useNonce>false</useNonce> 
    </ocsp>

    <ocsp id="ocsp-dnie">
      <url>http://ocsp.dnie.es</url>
      <certificate alias="ocsp-dnie" />
      <ca ref="AC DNIE 001" />
      <signRequest>false</signRequest>
      <useNonce>false</useNonce> 
    </ocsp>
  </revocation>

  <authorities>
    <ca id="root-gva">
      <cn>Root CA Generalitat Valenciana</cn>
      <certificate alias="root-gva" />
      <ocsp ref="ocsp-gva" />
    </ca>

    <ca id="cagva">
      <cn>CAGVA</cn>
      <certificate alias="cagva" />
      <ocsp ref="ocsp-gva" />
    </ca>

    <ca id="accv-ca2">
      <cn>ACCV-CA2</cn>
      <certificate alias="accv-ca2" />
      <ocsp ref="ocsp-gva" />
    </ca>

    <ca id="dnie-1">
      <cn>AC DNIE 001</cn>
      <certificate alias="dnie-1" />
      <ocsp ref="ocsp-dnie" />
    </ca>

    <ca id="dnie-2">
      <cn>AC DNIE 002</cn>
      <certificate alias="dnie-2" />
      <ocsp ref="ocsp-dnie" />
    </ca>

    <ca id="dnie-3">
      <cn>AC DNIE 003</cn>
      <certificate alias="dnie-3" />
      <ocsp ref="ocsp-dnie" />
    </ca>
  </authorities>

  <formatters>
    <formatter id="formatter-pdf">
      <tsa ref="tsa-gva" />
      <conf>
        <property name="reason">CryptoApplet digital signatures</property>
        <property name="location">Spain</property>
        <property name="contact">Jaume I University</property>
        <property name="visible">true</property>
        <property name="x">0</property>
        <property name="y">830</property>
        <property name="x2">110</property>
        <property name="y2">785</property>
        <property name="page">1</property>
        <property name="imgfile">uji.jpg</property>
      </conf>
    </formatter>

    <formatter id="formatter-cms">
      <tsa ref="tsa-gva" />
    </formatter>
  </formatters>
</cryptoapplet>
